.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background: transparent !important;
}

.navigation {
  margin-left: auto !important;
}

.nav-link {
  background-color: #ebe85d;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  color: #ffffff !important;
}

h1 {
  color: black;
}

h3 {
  color: cornflowerblue;
}

.navbar-toggle {
  border: transparent !important;
}
