body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
  margin-top: 100px !important;
}

.g-card-sub-title {
  display: block !important;
  font-size: 16px;
  margin: 0px;
  margin-top: 25px;
}

.success-msg {
  color: #57a773;
  padding: 10px 15px;
}

.err-msg {
  color: #ee6352;
  padding: 10px 15px;
}

a.social {
  margin: 0 0.5rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  color: #2867b2;
  transform: translateY(-2px);
}

a.linkedin {
  color: #2867b2;
}

a.linkedin:hover {
  color: #2867b2;
}

a.github {
  color: black;
}

a.github:hover {
  color: black;
}

a.twitter {
  color: #49a1eb;
}

.resume-icon {
  width: 35px;
  height: 35px;
}

.resume-icon:hover {
  transform: translateY(-2px);
}

header {
  margin: 10px;
}

.quote {
  font-style: italic;
  color: black;
}

footer {
  justify-content: center !important;
  display: flex !important;
  flex-wrap: wrap !important;
  margin-top: 75px !important;
  margin-bottom: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.row {
  justify-content: center !important;
}
